<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated structurizr -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="structurizr.presentation.StructurizrModelWizardID"
            name="%_UI_StructurizrModelWizard_label"
            class="structurizr.presentation.StructurizrModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StructurizrModelFile.gif">
         <description>%_UI_StructurizrModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated structurizr -->
      <editor
            id="structurizr.presentation.StructurizrEditorID"
            name="%_UI_StructurizrEditor_label"
            icon="icons/full/obj16/StructurizrModelFile.gif"
            extensions="structurizr"
            class="structurizr.presentation.StructurizrEditor"
            contributorClass="structurizr.presentation.StructurizrActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="structurizr.impl.StructurizrEditorStartup">
      </startup>
   </extension>

</plugin>
