<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated workload -->
      <package
            uri="ProjectWorkloadsDSL"
            class="workload.WorkloadPackage"
            genModel="model/workload.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="graphite.textual.XtextXMIResourceFactoryImpl"
            type="workload">
      </parser>
   </extension>
   <extension
		 point="org.eclipse.xtext.extension_resourceServiceProvider">
      <resourceServiceProvider
		    class="graphite.xtextxmi.ExecutableExtensionFactory:org.eclipse.xtext.ui.resource.generic.EmfResourceUIServiceProvider"
			uriExtension="workload">
	  </resourceServiceProvider>
   </extension>

</plugin>
