<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.eef.ide.ui.eefLifecycleManagerProvider">
      <descriptor
            class="graphite.xtextwidget.XtextPartialViewerLifecycleManagerProvider"
            description="Xtext Textual Property Viewer"
            id="graphite.xtextwidgetViewer"
            label="Xtext Textual Widget">
      </descriptor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="graphite.renameCommand"
            name="Rename Command">
      </command>
	  <command
			categoryId="graphite.category"
			defaultHandler="graphite.shared.HybridEditorGeneratorHandler"
			id="graphite.HybridEditorGeneratorJob"
			name="Generate Hybrid Editor">
	  </command>
   <command
         categoryId="graphite.category"
         defaultHandler="graphite.shared.GrammarValidatorHandler"
         id="graphite.GrammarValidatorJob"
         name="Validate Grammar">
   </command>
      <command
            categoryId="graphite.category"
            defaultHandler="graphite.shared.MetamodelValidatorHandler"
            id="graphite.MetamodelValidatorJob"
            name="Validate Metamodel">
      </command>
      <command
            categoryId="graphite.category"
            defaultHandler="graphite.shared.GrammarGeneratorHandler"
            id="graphite.GrammarGeneratorJob"
            name="Generate Grammar(s)">
      </command>
      <category
            id="graphite.category"
            name="Graphite Category">
      </category>
   </extension>
   <extension
         point="org.eclipse.epsilon.common.dt.tool">
      <tool
            class="graphite.textual.XtextGrammarGenerator"
            defaultName="XtextGrammarGenerator">
      </tool>
   </extension>
   <extension
		point="org.eclipse.ui.menus">
		<menuContribution
			allPopups="false"
			locationURI="popup:org.eclipse.ui.popup.any?before=compareWithMenu">
			<menu
				icon="icons/graphite.png"
				label="Graphite">
				<command
					commandId="graphite.HybridEditorGeneratorJob"
					label="Generate Hybrid Editor"
					style="push">
					<visibleWhen
						checkEnabled="false">
						<with
							variable="activeMenuSelection">
							<and>
								<iterate operator="or"
									ifEmpty="false">
									<adapt
										type="org.eclipse.core.resources.IResource">

										<test
											property="org.eclipse.core.resources.extension"
											value="ecore">
										</test>
									</adapt>
								</iterate>
								<iterate operator="or"
									ifEmpty="false">
									<adapt
										type="org.eclipse.core.resources.IResource">
										<test
											property="org.eclipse.core.resources.extension"
											value="genmodel">
										</test>
									</adapt>
								</iterate>
        <iterate
              ifEmpty="false"
              operator="or">
           <adapt
                 type="org.eclipse.core.resources.IResource">
              <test
                    property="org.eclipse.core.resources.extension"
                    value="odesign">
              </test>
           </adapt>
        </iterate>
        <iterate
              ifEmpty="false"
              operator="or">
           <adapt
                 type="org.eclipse.core.resources.IResource">
              <test
                    property="org.eclipse.core.resources.extension"
                    value="xtext">
              </test>
           </adapt>
        </iterate>
							</and>
						</with>
					</visibleWhen>
				</command>
    <command
          commandId="graphite.GrammarValidatorJob"
          label="Validate Grammar"
          style="push">
       <visibleWhen
             checkEnabled="false">
          <with
                variable="activeMenuSelection">
             <and>
                <iterate
                      ifEmpty="false"
                      operator="or">
                   <adapt
                         type="org.eclipse.core.resources.IResource">
                      <test
                            property="org.eclipse.core.resources.extension"
                            value="ecore">
                      </test>
                   </adapt>
                </iterate>
                <iterate
                      ifEmpty="false"
                      operator="or">
                   <adapt
                         type="org.eclipse.core.resources.IResource">
                      <test
                            property="org.eclipse.core.resources.extension"
                            value="xtext">
                      </test>
                   </adapt>
                </iterate>
             </and>
          </with>
       </visibleWhen>
    </command>
    <command
          commandId="graphite.MetamodelValidatorJob"
          label="Validate Metamodel"
          style="push">
       <visibleWhen
             checkEnabled="false">
          <with
                variable="activeMenuSelection">
             <and>
                <iterate
                      ifEmpty="false"
                      operator="or">
                   <adapt
                         type="org.eclipse.core.resources.IResource">
                      <test
                            property="org.eclipse.core.resources.extension"
                            value="ecore">
                      </test>
                   </adapt>
                </iterate>
             </and>
          </with>
       </visibleWhen>
    </command>
    <command
          commandId="graphite.GrammarGeneratorJob"
          label="Generate Grammar(s)"
          style="push">
       <visibleWhen
             checkEnabled="false">
          <with
                variable="activeMenuSelection">
             <and>
                <iterate
                      ifEmpty="false"
                      operator="or">
                   <adapt
                         type="org.eclipse.core.resources.IResource">
                      <test
                            property="org.eclipse.core.resources.extension"
                            value="ecore">
                      </test>
                   </adapt>
                </iterate>
             </and>
          </with>
       </visibleWhen>
    </command>
			</menu>
		</menuContribution>
	</extension>
</plugin>