<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="structurizr.design.Activator"
               id="structurizr.design"
	       name="structurizr">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="graphite.graphical.SiriusValidateAction"
           id="structurizr.design.validateExternalAction">
     </javaActions>
  </extension>
</plugin>
