<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pcs -->
      <package
            uri="pcs.netapp.org"
            class="pcs.PcsPackage"
            genModel="model/pcs.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="graphite.textual.XtextXMIResourceFactoryImpl"
            type="pcs">
      </parser>
   </extension> 
   <extension
		 point="org.eclipse.xtext.extension_resourceServiceProvider">
      <resourceServiceProvider
		    class="graphite.xtextxmi.ExecutableExtensionFactory:org.eclipse.xtext.ui.resource.generic.EmfResourceUIServiceProvider"
			uriExtension="pcs">
	  </resourceServiceProvider>
   </extension>

</plugin>
